body {
  background-color: #112d4e;
}

table {
  margin:0 auto;
  border-collapse: collapse;
}
td {
  width: 80px;
  height: 80px;
  font-size: 32px;
  border: 1px solid white;
  text-align: center;
  color: whitesmoke;
}